.wrapper {
  padding: 16px;
  height: 85vh;
  overflow: scroll;
  font-size: 14px;
  font-weight: 800;
  line-height: 4vh;
  background-color: #f5f5f5;

  &::-webkit-scrollbar {
    display: none;
  }
}

.line_wrapper {
  margin-top: 15px;
  background-color: white;
  border-radius: 10px;
  padding: 16px;
}

.pie_wrapper {
  margin-top: 30px;
  background-color: white;
  border-radius: 10px;
  padding: 16px;
}

.bars_wrapper {
  margin-top: 30px;
  background-color: white;
  border-radius: 10px;
  padding: 16px;
}