.floatButton {
  background: var(--floatButton-bg);
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 40px;
  right: 40px;

  .icon {
    width: 27px;
    height: 27px;
    fill: var(--floatButton-text);
  }
}