.wrapper {
  .card {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f5f5f5;
    border-radius: 10px;

    .fontStyle {
      text-align: center;
      font-weight: 600;
      font-size: 18px;
    }

    .iconStyle {
      margin-top: -30px;
      width: 320px;
      height: 320px;
    }
  }

  .action {
    display: flex;
    justify-content: space-between;
    font-size: 21px;
    color: white;
    margin-top: 45px;
    margin-right: 10px;

    .fake {
      visibility: hidden;
    }

    .next {
      margin-left: 10px;
    }
  }
}