.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to bottom, #42b983 0%, #9ce02f 51%, #67c5af 100%);

  > header {
    height: 24vh;

    .headerContent {
      display: flex;
      flex-direction: column;
      margin-top: 50%;

      .iconStyle {
        width: 70px;
      }

      .fontStyle {
        font-size: 20px;
        color: white;
      }
    }
  }

  > main {
    width: 92%;
    height: 56vh;
  }

  > footer {
    height: 19vh;
  }
}
