.wrapper {
  height: 58vh;
  background-color: #f5f5f5;
  border-radius: 10px;
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .fontStyle {
      text-align: center;
      font-weight: 600;
      font-size: 18px;
    }

    .iconStyle {
      margin-top: -30px;
      width: 320px;
      height: 320px;
    }
  }
}