:root {
  --app-name-text: #42b983;
  --bg: white;
  --button-bg-danger: #e10505;
  --button-bg: #42b983;
  --button-border-color: #ddd;
  --button-font-size: 18px;
  --button-height: 48px;
  --button-login-height: 38px;
  --button-radius: 8px;
  --button-text: white;
  --date-text: #999999;
  --dialog-header-text: white;
  --emoji-nav-text-selected: #333;
  --emoji-nav-text: #999;
  --error-color: #E10505;
  --floatButton-bg: var(--button-bg);
  --floatButton-text: var(--button-text);
  --input-border-color: #42b983;
  --input-min-height: 38px;
  --input-font-size: 13px;
  --input-pad-button-border: 1px solid #ddd;
  --input-radius: var(--button-radius);
  --input-shadow: rgba(0, 0, 0, 0.25);
  --list-amount-text: var(--amount-text);
  --list-tag-text: #333;
  --list-time-text: var(--date-text);
  --main: #42b983;
  --navBar-bg: var(--button-bg);
  --navBar-text: var(--button-text);
  --overlay-bg: white;
  --overlay-header-bg: var(--button-bg);
  --overlay-mask-bg: rgba(0, 0, 0, 0.5);
  --tabs-indicator-bg: rgba(255, 255, 255, 0.5);
  --tag-bg: #EFEFEF;
  --text: #333;
  --top-safe-area-height: 24px;
  --total-bg: #252A43;
  --total-expenses: #53A867;
  --total-income: #FE7275;
  --total-text: white;
  --transition-duration: 0.5s;
  // 待解决
  // --van-overlay-z-index: 64不生效，item/list页面开启自定义时间浮窗时
  // 无法覆盖顶部 navbar
  --van-overlay-z-index: 64;
  --z-index-navbar: 32;
  --z-index-overlay: 16;
}