:root {
  --transition-duration: 0.5s;
  --button-bg: #42b983;
  --button-text: white;
  --button-font-size: 18px;
  --button-radius: 8px;
  --button-height: 48px;
  --floatButton-bg: var(--button-bg);
  --floatButton-text: var(--button-text);
  --navBar-bg: var(--button-bg);
  --navBar-text: var(--button-text);
  --z-index-overlay: 16;
  --overlay-mask-bg: rgba(0, 0, 0, 0.5);
  --overlay-bg: white;
  --overlay-header-bg:var(--button-bg);
  --top-safe-area-height:24px;
  --tabs-indicator-bg:rgba(255,255,255,0.5);
}