.inputPad_wrapper {
  height: 35vh;
  .showInfo {
    height: 7vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 8px;
    border-top: var(--input-pad-button-border);
    background: white;

    .createdAt {
      width: 50%;
      display: flex;
      align-items: center;
      padding-left: 7px;

      .date {
        font-size: 13px;
        padding-top: 1px;
        padding-left: 7px;

        &_icon {
          width: 23px;
          height: 23px;
        }
      }
    }

    .amount {
      width: 50%;
      text-align: right;
      font-size: 18px;
      margin-right: 10px;
      font-family: "Fira Code", monospace;
      color: var(--overlay-header-bg);
    }
  }

  .buttons {
    height: 28vh;
    display: flex;
    flex-wrap: wrap;
    border-top: var(--input-pad-button-border);

    > button {
      height: 7vh;
      border: none;
      border-right: var(--input-pad-button-border);
      border-bottom: var(--input-pad-button-border);
      width: 25%;
      background: white;

      &:nth-child(4n) {
        border-right: none;
      }

      &:nth-child(13),
      &:nth-child(14),
      &:nth-child(15),
      &:nth-child(16) {
        border-bottom: none;
      }

      &:nth-child(16) {
        border-bottom: none;
        background: var(--overlay-header-bg);
        color: var(--overlay-bg);
        margin-top: -14vh;
        height: 21vh;
      }
    }
  }
}
