.wrapper {
  background-color: #f5f5f5;
}

.total_wrapper {
  height: 85vh;
  overflow: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

.total {
  width: 95%;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 2.5%;
  background: var(--total-bg);
  display: flex;
  justify-content: space-between;
  color: var(--total-text);
  border-radius: var(--button-radius);
  padding: 0 16px;

  > li {
    padding: 16px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

.list {
  background-color: white;
  width: 95%;
  margin-left: 2.5%;
  border-radius: 10px;

  > li {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid var(--button-border-color);
    padding: 12px 16px;
  }

  .sign {
    flex-grow: 0;
    flex-shrink: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: var(--tag-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 8px;
  }

  .text {
    margin-right: 4px;
    margin-left: 4px;
    flex-grow: 1;
    flex-shrink: 1;

    .tagAndAmount {
      display: flex;
      justify-content: space-between;

      .tag {
        color: var(--list-tag-text);
      }

      .expensesColor {
        color: #42b983;
      }

      .incomeColor {
        color: rgba(255, 60, 0, 0.78);
      }
    }

    .time {
      color: var(--list-time-text);
      margin-top: 4px;
    }
  }
}

.more {
  padding: 20px 0 16px 0;
  text-align: center;
}


.tree_wrapper {
  padding: 120px 0;
  font-size: 18px;

  > p {
    text-align: center;
    padding-top: 20px;
  }

  .tree {
    width: 128px;
    height: 128px;
  }
}

.button {
  width: 100%;
  margin-top: -100px;

  &_wrapper {
    padding: 16px;
  }
}

.navIcon {
  width: 30px;
  height: 30px;
}

.noShow_wrapper {
  height: 85vh;
  background: #f5f5f5;
}

.noShowTip_wrapper {
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}