.navIcon {
  width: 25px;
  height: 25px;
}

.inputPad_wrapper {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 47vh;
}

.tabs {
  flex-grow: 1;
  flex-shrink: 1;
  overflow: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

.inputPad_wrapper {
  flex-grow: 0;
  flex-shrink: 0;
}

.tags_wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-top: 16px;
}

.createTag {
  fill: var(--main);
}

// 待解决
// 元素好像自动均分在整个范围内了
.tagList_wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: 42vh;
}

.tag {
  width: 20vw;
  height: calc(20vw * 1.14);
  display: flex;
  flex-direction: column;
  align-items: center;

  .sign {
    width: 12vw;
    height: 12vw;
    background: var(--tag-bg);
    border: 1px solid var(--tag-bg);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .name {
    font-size: 12px;
    margin-top: 4px;
  }

  &.selected {
    .sign {
      border-color: var(--main);
    }
  }
}