.navIcon {
  width: 25px;
  height: 25px;
}

.inputPad_wrapper {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}


// TODO
// 切换手机型号之后高度不适配
// 这里是 itemCreate 中最外层的 wrapper
.wrapper {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 88px);
}

// 这个是整个大的 Tabs
.tabs {
  flex-grow: 1;
  flex-shrink: 1;
  overflow: scroll;

  //&::-webkit-scrollbar {
  //  display: none;
  //}
}

.inputPad_wrapper {
  flex-grow: 0;
  flex-shrink: 0;
}